*.shader linguist-detectable=false
*.hlsl linguist-detectable=false
*.cginc linguist-detectable=false

*.compute linguist-vendored

*.meta linguist-vendored

Assets/Plugins/** linguist-vendored
Packages/** linguist-vendored
